@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GitHub Actions for Azure (Docker)</h1>
    <p>Learn about <a href="https://github.com/Azure/actions">GitHub Actions for Azure</a>.</p>
</div>
