name: Deploy to Azure

on:
  push:
    branches: 
      - master

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        
      - name: Setup .NET Core 3.1.102
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.102
          
      - name: Publish Project
        run: dotnet publish -c Release --output dist/
      
      - name: Login to Azure
        uses: Azure/login@v1
        with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Deploy Web App
        uses: Azure/webapps-deploy@v2
        with:
          app-name: music-store-gh
          package: dist/
